*{
    margin:0px;
    padding: 0px;
    color: rgb(0, 102, 0);
}

body{
    background-image: url("../images/bg.jpg");
    background-size: cover;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#container > *{
    display:flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter:blur(30px);
    padding: 30px 40px;
    box-sizing: border-box;
    height: fit-content;
    width:fit-content;
    border: 1px solid rgba(255, 255, 255, 0.441);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
}

.formelements:focus{
  outline:none;
}
.formelements{
  padding: 10px;
  border: 0px;  
  margin-top:20px;
  border-radius: 5px;
  font-size: 17px;
  width: 300px;
}
#other-options, #rememberbutton{
  margin-top: 10px;
}
#container > div > :nth-last-child(3){
    color:white;
    background-color:green;
    width:100%;
}

#container > div > :nth-last-child(3):hover{
  cursor:pointer;
}
#container > div > :last-child > p{
  float:left;
}
#container > div > :last-child > a{
  float:right;
}
#cookieInfo {
    margin-bottom:20px;
    background-color: rgba(255, 0, 0, 0.43);
    border-color:red;
    display: none;
}
#cookieInfo > p{
    width: 320px;
    color : yellow;
}
#cookieInfo > p::before{
    content:"⚠";
    color : yellow;
    font-size: 30px;
    margin-right: 20px;
}
#container > div > :nth-last-child(3){
    color:white;
    background-color:green;
    width:100%;
}

#rememberbutton{
    height: 20px;
}
#rememberbutton > p{
    float: left;
}
#togglebutton{
    float: right;
    width: 38px;
    height: 20px;
    background-color: rgb(124, 125, 125);
    border-radius: 100px;
    display:flex;
    flex-direction: row;
    align-items: center;
    position:relative;
}
#togglebutton > div{
    background-color: white;
    width: 14px;
    height: 14px;
    margin: 0px 4px;
    border-radius: 100px;
    position:absolute;
    animation-name:none;
    animation-duration: 200ms;
    animation-delay: 0s;
    animation-fill-mode: both;
}

@keyframes off{
    from{
        left: 17px;
    }
    to{
        left: 0px;
    }
}
@keyframes on{
    from{
        left: 0px;
    }
    to{
        left: 17px;
    }
}
#message{
  position:absolute;
  top:-50px;
  right:10px;
  padding:10px;
  max-width:300px;
  text-wrap:wrap;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color:yellow;
  border:2px solid red;
  border-radius: 10px;
  width: fit-content;
  height:fit-content;
  background-color: rgba(255, 0, 0, 0.275);
  backdrop-filter:blur(10px);
  animation-name:none;
  animation-duration:600ms;
  animation-fill-mode: both;
}
@keyframes showmessage{
  from{
    top:-50px;
  }
  to{
    top:10px;
  }
}

@keyframes hidemessage{
  from{
    top:10px;
  }
  to{
    top:-100px;
  }
}

#pass-container{
  position:relative;
}
#pass-container > img{
  position:absolute;
  width:20px;
  bottom: 8px;
  right: 15px;
}
#pass-container > img:hover{
  cursor:pointer;
}
